.quiz-page {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 5rem 1fr 5rem;
   place-items: center;
}

.quiz-details {
   width: 55%;

   display: flex;
   flex-direction: column;
   align-items: center;
}

.quiz-options {
   margin-top: 4rem;

   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 1rem;
}

.quiz-options .button {
   width: 16rem;
   height: 4rem;
   font-size: large;
   font-weight: 600;
}

.selected {
   background-color: var(--PRIMARY-COLOR);
   color: var(--WHITE);
}

.quiz-page .quiz-heading {
   width: 55%;

   display: flex;
   justify-content: space-between;
}

.quiz-page .navigate-question {
   width: 55%;

   display: flex;
   justify-content: space-between;
   align-items: center;
}
.link-white {
   color: var(--WHITE);
}

/*media query*/
@media screen and (max-width: 750px) {
   .quiz-page .quiz-details {
      width: 80%;
      text-align: center;
   }
   .quiz-page .quiz-heading {
      width: 80%;
   }
}
