.home-page {
   grid-area: page;
   padding: 0 2rem;
}

.home-page header {
   height: 25rem;

   display: flex;
   align-items: center;
}

.home-page .content-wrapper {
   flex-basis: 100%;
}

.home-page .image-wrapper {
   flex-basis: 100%;
   height: 100%;
}

.home-page .content-wrapper .button {
   margin-top: 4rem;
}

.home-page .category-section {
   margin-top: 5rem;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.home-page .categories {
   margin-top: 2rem;
   margin-bottom: 5rem;

   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 1rem;
}
