.category-card {
   height: 23rem;
   aspect-ratio: 1/1.25;
   background-color: var(--PRIMARY-BG);
   border-radius: 10px;
   cursor: pointer;
   overflow: hidden;
}

.category-card:hover {
   transform: scale(1.025);
}

.category-card .category-img {
   object-fit: cover;
   border-radius: 10px;
   height: 75%;
   width: 100%;
}

.category-card .description {
   padding: 0 1rem;
}

.category-card .description {
   text-align: center;
}
