.home-page .category {
   cursor: pointer;

   transition: all 0.25s ease-in-out;
}

.home-page .category .overlay {
   top: 68%;
   height: 24%;
}

.home-page .vertical {
   width: 20.5rem;
   height: 18rem;
}

.home-page .vertical .card-img {
   object-fit: cover;
   height: 100%;
}

.home-page .category:hover {
   transform: scale(1.025);
}
