footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--WHITE);
  height: 3rem;
  background: var(--PRIMARY-COLOR);
}

footer > * {
  margin: 0 1rem;
}
