.App {
   min-height: 100vh;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 4.5rem 1fr auto;
   grid-template-areas:
      "topnav"
      "page"
      "footer";
}

.dark-theme {
   background-color: #212121;
   color: var(--WHITE);
}

.loader-wrapper {
   min-height: 80vh;
   min-width: 100%;

   display: grid;
   place-items: center;
}
